/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palette */
:root {
  --c-one: #FBB195;
  --c-two: #F67280;
  --c-three: #C06C84;
  --c-four: #6C5B7B;
  --c-five: #355C7D;
}

/* default css */
body {
  font-family: 'Trebuchet MS', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* utility */
.active {
  color: #fff;
}

.debug {
  border: 1px dashed red;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* ===== Header Style ===== */
header {
  background-color: var(--c-one);
}

/* navbar */
.nav-container {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin-left: 10px;

  img {
    width: 100%;
  }
}

.nav-bar {
  margin-left: 30px;

  ul {
    display: flex;

    li {
      margin: 0px 20px;
      font-size: 1.1rem;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

/* ===== Main Style ===== */
/*hero section*/
.hero-section {
  background-color: var(--c-two);
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-text {
    width: 400px;
    text-align: center;

    h1 {
      font-size: 3.6rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

/*posts section*/
.posts-container {
  margin: 80px 0px;
  border: 5px solid var(--c-three);
}

.posts-container ul li {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 1.2rem;
  }

  a {
    background-color: var(--c-two);
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: var(--c-three);
    }
  }
}

/*about section*/
.about-content {
  margin: 100px 0px;
}

.about-banner {
  border: 5px solid var(--c-four);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  height: 300px;

  .banner-text {
    padding: 20px;
    width: 60%;

    p {
      margin-top: 10px;
    }
  }

  .banner-image {
    width: 40%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* ===== Footer Style ===== */
.footer-section {
  background-color: #355C7D;
  height: 200px;
  padding: 20px;
}

.footer-links {

  span {
    color: #fff;
    text-decoration: underline;
  }

  ul li {
    line-height: 50px;

    a {

      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}