/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palette */
:root {
  --c-one: #FBB195;
  --c-two: #F67280;
  --c-three: #C06C84;
  --c-four: #6C5B7B;
  --c-five: #355C7D;
}

/* default css */
body {
  font-family: 'Trebuchet MS', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* utility */
.active {
  color: green;
}

.debug {
  border: 1px dashed red;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* ===== Header Style ===== */
header {
  background-color: var(--c-one);
}

/* navbar */
.nav-container {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin-left: 10px;

  img {
    width: 100%;
  }
}

.nav-bar {
  margin-left: 30px;

  ul {
    display: flex;

    li {
      margin: 0px 20px;
      font-size: 1.1rem;

      a {
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* ===== Main Style ===== */
/*hero section*/
.hero-section {
  background-color: var(--c-two);
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-text {
    width: 400px;
    text-align: center;

    h1 {
      font-size: 3.6rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

/*posts section*/
.posts-container {
  margin: 80px 0px;
  border: 5px solid var(--c-three);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: calc(100% / 3);
  padding: 10px;
  height: 500px;
}

.post-content {
  border: 2px dashed #000;
  border-radius: 8px;
  height: 100%;

  .post-image {
    height: 40%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0px 0px;
    }
  }

  .post-text {
    height: 60%;
    padding: 10px;

    h1 {
      margin-bottom: 10px;
      border-bottom: 2px solid #000;
    }
  }
}

/*about section*/
.about-content {
  margin-top: 100px;
}

.about-banner {
  border: 5px solid var(--c-four);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  height: 300px;

  .banner-text {
    padding: 20px;
    width: 60%;

    p {
      margin-top: 10px;
    }
  }

  .banner-image {
    width: 40%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}